USE [master]
GO
/****** Object:  Database [LaptopStore]    Script Date: 22/07/2020 12:47:12 ******/
CREATE DATABASE [LaptopStore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LaptopStore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\LaptopStore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LaptopStore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\LaptopStore.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LaptopStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LaptopStore]
GO
/****** Object:  Table [dbo].[tblLaptop]    Script Date: 22/07/2020 12:47:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLaptop](
	[LaptopID] [int] NOT NULL,
	[LaptopName] [varchar](50) NOT NULL,
	[LaptopCPU] [varchar](50) NOT NULL,
	[LaptopGPU] [varchar](50) NOT NULL,
	[LaptopRAM] [varchar](50) NOT NULL,
	[LaptopStorage] [varchar](50) NOT NULL,
	[LaptopDisplay] [varchar](50) NOT NULL,
	[LaptopPrice] [float] NOT NULL,
	[LaptopQuantity] [int] NOT NULL,
	[LaptopDiscountPercentage] [float] NOT NULL,
	[LaptopImage] [varchar](200) NOT NULL,
 CONSTRAINT [PK_tblLaptop] PRIMARY KEY CLUSTERED 
(
	[LaptopID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblOrder]    Script Date: 22/07/2020 12:47:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblOrder](
	[OrderID] [int] NOT NULL,
	[UserEmail] [varchar](100) NOT NULL,
	[OrderPrice] [float] NOT NULL,
	[OrderDate] [date] NOT NULL,
 CONSTRAINT [PK_tblOrder] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblOrderUnit]    Script Date: 22/07/2020 12:47:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblOrderUnit](
	[OrderUnitID] [int] NOT NULL,
	[OrderID] [int] NOT NULL,
	[LaptopID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [float] NOT NULL,
 CONSTRAINT [PK_tblOrderUnit] PRIMARY KEY CLUSTERED 
(
	[OrderUnitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUser]    Script Date: 22/07/2020 12:47:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUser](
	[UserEmail] [varchar](100) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[UserPassword] [varchar](50) NOT NULL,
	[UserAddress] [varchar](200) NULL,
	[UserPhone] [varchar](10) NULL,
 CONSTRAINT [PK_tblUser] PRIMARY KEY CLUSTERED 
(
	[UserEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblOrder]  WITH CHECK ADD  CONSTRAINT [FK_tblOrder_tblUser] FOREIGN KEY([UserEmail])
REFERENCES [dbo].[tblUser] ([UserEmail])
GO
ALTER TABLE [dbo].[tblOrder] CHECK CONSTRAINT [FK_tblOrder_tblUser]
GO
ALTER TABLE [dbo].[tblOrderUnit]  WITH CHECK ADD  CONSTRAINT [FK_tblOrderUnit_tblLaptop] FOREIGN KEY([LaptopID])
REFERENCES [dbo].[tblLaptop] ([LaptopID])
GO
ALTER TABLE [dbo].[tblOrderUnit] CHECK CONSTRAINT [FK_tblOrderUnit_tblLaptop]
GO
ALTER TABLE [dbo].[tblOrderUnit]  WITH CHECK ADD  CONSTRAINT [FK_tblOrderUnit_tblOrder] FOREIGN KEY([OrderID])
REFERENCES [dbo].[tblOrder] ([OrderID])
GO
ALTER TABLE [dbo].[tblOrderUnit] CHECK CONSTRAINT [FK_tblOrderUnit_tblOrder]
GO
USE [master]
GO
