
@{
    ViewData["Title"] = "SignUp";
}

    @*<form class="form-signin" method="post" asp-controller="Home" asp-action="SignUp">
        <img class="mb-4" src="/android-chrome-512x512.png" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Sign up</h1>
        <input type="email" name="Email" class="form-control my-2" placeholder="Email address" required autofocus>
        <input type="password" name="Password" class="form-control my-2" placeholder="Password" required>
        <input type="password" name="RePassword" class="form-control my-2" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block my-2" type="submit">Sign up</button>
    </form>*@


