
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <style>
        table {
            width: 70%;
        }

        table, th, td {
            border: solid 1px #DDD;
            border-collapse: collapse;
            padding: 2px 3px;
            text-align: center;
        }
    </style>
</head>
<body>
    <header>
        <div>
            <p>Nagivation Bar</p>
        </div>
    </header>

    @RenderBody()

    <footer>
        <div>
            <p>Copyright (C) 2020 haitrieu-yare</p>
        </div>
    </footer>
</body>
</html>
