
<!DOCTYPE html>

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/favicon-32x32.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>@ViewData["Title"]</title>
    <style>
        .laptop-image {
            position: relative;
            padding-top: 20px;
            display: inline-block;
        }
        .discount-badge {
            position: absolute;
            right: -20px;
            top: 10px;
            background: red;
            text-align: center;
            border-radius: 30px 30px 30px 30px;
            color: white;
            padding: 5px 10px;
            font-size: 25px;
        }
        .product_sale_price {
            font-size: 30px;
            color: #e61010;
            font-weight: 700;
        }
        .lack-of-content-layout {
            height: 74vh;
        }
    </style>
</head>
<body>
    <header>
        <div class="navbar navbar-dark bg-dark shadow">
            <div class="container">
                <a href="/Home" class="navbar-brand">
                    <strong>Sky Store</strong>
                </a>
                <div class="navbar-nav d-flex flex-row ml-auto">
                    @if (string.IsNullOrEmpty((string)ViewData["CurrentUserName"]))
                    {
                        <a href="/Home/SignIn" class="nav-item btn btn-primary my-2 mr-2">Sign In</a>
                        <a href="/Home/SignUp" class="nav-item btn btn-secondary my-2">Sign Up</a>
                    }
                    else
                    {
                        <div class="text-white navbar-text mr-2">Welcome, @ViewData["CurrentUserName"]</div>
                        <a href="/Home/Cart" class="nav-item btn btn-info mr-2 d-flex align-items-center">Cart</a>
                        <a href="/Home/Profile" class="nav-item btn btn-primary mr-2 d-flex align-items-center">Profile</a>
                        <form method="post" asp-controller="Home" asp-action="SignOut">
                            <input class="nav-item btn btn-danger form-control-lg" type="submit" value="Sign Out" />
                        </form>
                    }
                </div>
            </div>
        </div>
    </header>
    <div class="album bg-light py-5">
        <div class="container">
            @RenderBody()
        </div>
    </div>
    <footer>
        <div class="container my-3">
            <p class="float-right">
                <a href="#">Back to top</a>
            </p>
            <p>Copyright (C) 2020 haitrieu-yare</p>
        </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>
